body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background);
}
:root {
  --title-color: #2e2f42;
  --accent-color: #404bbf;
  --subtitle-text: #434455;
  --active-links: #4d5ae5;
  --white-background: #ffffff;
  --light-backgrounds: #f4f4fd;
  --text-color: #434455;
}
/****************************holovna********************/
/***logo****/
.header {
}
.header-nav {
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-links);
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-menu-list:hover {
  color: #404bbf;
}
.header-menu-list:focus {
  color: #404bbf;
}
.header-logo :hover {
  color: var(--active-links);
}
.header-logo :focus {
  color: var(--active-links);
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.address-list {
}
.address-item {
}
.address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;

  color: var(--subtitle-text);
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}
/****hero***/
.hero {
  background: var(--title-color);
}
.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
/***criteria****/
.criteria {
}
.criteria-list {
}
.criteria-item {
}
.criteria-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.criteria-item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/***question****/
.question-title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.question-list {
}
.question-item {
}
/***Team ***/
.our-team {
  background-color: #f4f4fd;
}

.team-title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.team-item {
  background-color: #ffffff;
}

.team-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.team-item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/****footer***/
.footer {
  background: var(--title-color);
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-links);
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/********************imgs page*******************/
/*******************buttons****************/
.section {
}
.varieties-list {
}
.varieties-item {
}
.varieties-btn {
  font-family: "Roboto", sans-serif;
  background: #f4f4fd;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.varieties-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.varieties-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/********imgs******/
.imgs {
}
.imgs-list {
}
.imgs-item {
}
.imgs-item-link {
}
.imgs-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.imgs-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
