body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background);
}
:root {
  --title-color: #2e2f42;
  --accent-color: #404bbf;
  --subtitle-text: #434455;
  --active-links: #4d5ae5;
  --white-background: #ffffff;
  --light-backgrounds: #f4f4fd;
  --text-color: #434455;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
  outline: 1px solid red;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/****************************holovna********************/
/***logo****/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-links);
  margin-right: 76px;
}
.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-menu-list:hover {
  color: #404bbf;
}
.header-menu-list:focus {
  color: #404bbf;
}
.header-logo :hover {
  color: var(--active-links);
}
.header-logo :focus {
  color: var(--active-links);
}
.header-menu-link:hover {
  color: #404bbf;
}
.header-menu-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  margin-left: auto;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-item {
}
.address-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;

  color: var(--subtitle-text);
}
.address-link:hover {
  color: #404bbf;
}
.address-link:focus {
  color: #404bbf;
}
/****hero***/
.hero {
  background: var(--title-color);
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-container {
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-btn {
  font-family: inherit;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
/***criteria****/
.criteria {
  padding-top: 120px;
  padding-bottom: 120px;
}
.criteria-list {
  display: flex;
  padding-right: 156px;
  padding-left: 156px;
  gap: 24px;
}
.criteria-item {
  width: 264px;
}
.criteria-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}
.criteria-item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/***question****/
.question {
  padding-bottom: 120px;
}
.question-title {
  text-transform: capitalize;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color);
  min-width: 323px;
  margin-bottom: 72px;
}
.question-list {
  display: flex;
  gap: 24px;
}
.question-item {
  width: 360px;
}
/***Team ***/
.our-team {
  background-color: #f4f4fd;
}
.team-container {
  background-color: #f4f4fd;
  padding-bottom: 120px;
}

.team-title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  padding-top: 120px;
  margin: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: 264px;
}
.team-text {
  padding-top: 16px;
  padding-bottom: 16px;
}

.team-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.team-item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  align-items: center;
}
/****footer***/
.footer-container {
  background: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer {
  background: var(--title-color);
  min-width: 264px;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-links);
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/********************imgs page*******************/
/*******************buttons****************/
.section-container {
  padding-top: 96px;
  padding-left: 120px;
}
.section {
}
.varieties-list {
  display: flex;
  max-width: 586px;
  margin-left: auto;
  gap: 24px;
}
.varieties-item {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.varieties-btn {
  font-family: "Roboto", sans-serif;
  background: #f4f4fd;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.varieties-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.varieties-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/********imgs******/
.imgs {
  width: 360px;
}
.imgs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.imgs-item {
  width: calc((100%- 144px) / 9);
}
.imgs-item-link {
}
.imgs-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.imgs-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
